body #button {
	 background-color: black;
	 margin-left: 20%;
	 margin-right: 40%;
	}
	
	#script1{
		color: white; 
	}
	
	{ 
	
	}
	
	#liste{
			list-style: none;
	}
	#gras {
		font-weight: bold;
	}
	#cyan {
		text-decoration: underline;
		color:skyblue	
	}
	span{
		color: rosybrown;
	}